@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-2">
   <div class="bg-white font-sans leading-normal tracking-normal" data-aos="fade-right">
        <div class="flex items-center justify-center h-auto bg-white">
    <div class="container">
        <div class="bg-white rounded-lg shadow-md p-5 md:p-20 mx-2">
            <div class="text-center">
                <h2
                    class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
                    Task<span class="text-indigo-600">Squad</span>
                </h2>
                <p class="text-md md:text-xl mt-10">"Creemos firmemente que el trabajo en equipo organizado es la clave para alcanzar el éxito; juntos, somos más fuertes y eficientes en cada tarea que emprendemos."</p>
            </div>
        </div>
    </div>
</div>

        <!-- Features section -->
        <section class="bg-white py-20">
            <div class="container mx-auto px-4">
                <div class="max-w-2xl mx-auto text-center ">
                    <h2 class="text-3xl font-bold mb-6">¿Que esperar de nuestro servicio?</h2>
                    <p class="text-gray-600 mb-12">Una plataforma intuitiva y fácil de usar que te ayude a gestionar tus tareas de manera eficiente y organizada. Te ofrecemos herramientas para colaborar con tu equipo, asignar tareas de forma clara y realizar un seguimiento del progreso de cada tarea. Nuestro objetivo es ayudarte a trabajar de manera más efectiva y alcanzar tus metas de manera más rápida y eficiente.
                    </p>
                </div>
                <div class="flex flex-wrap -mx-4 mt-12">
                    <div class="w-full md:w-1/3 px-4 mb-8 ">
                        <div class="rounded-md bg-white shadow-md p-8 border-2 border-purple-400">
                            <div class="text-4xl font-bold text-purple-600 mb-4">1</div>
                            <h3 class="text-2xl font-bold mb-4">Organización</h3>
                            <p class="text-gray-600 mb-4">Nuestra aplicación facilita la organización de tareas al permitir a los administradores crear y asignar tareas de manera clara y eficiente.</p>
                        </div>
                    </div>
                    <div class="w-full md:w-1/3 px-4 mb-8">
                        <div class="rounded-md bg-white shadow-md p-8 border-2 border-purple-400">
                            <div class="text-4xl font-bold text-purple-600 mb-4">2</div>
                            <h3 class="text-2xl font-bold mb-4">Colaboración</h3>
                            <p class="text-gray-600 mb-4">Fomentamos la colaboración entre los miembros del equipo al ofrecer herramientas para compartir información y trabajar juntos en la realización de tareas.</p>
                        </div>
                    </div>

                    <div class="w-full md:w-1/3 px-4 mb-8">
                        <div class="rounded-md bg-white shadow-md p-8 border-2 border-purple-400">
                            <div class="text-4xl font-bold text-purple-600 mb-4">3</div>
                            <h3 class="text-2xl font-bold mb-4">Eficiencia</h3>
                            <p class="text-gray-600 mb-4">Con nuestra aplicación, los equipos pueden trabajar de manera más eficiente, ya que se pueden asignar tareas de forma rápida y seguir su progreso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
