@model GestordeTaras.EN.Tarea


<form asp-action="Create" id="createForm" class="bg-white rounded px-8 pt-6 pb-8 mb-4 border border-purple-700">
    <div asp-validation-summary="ModelOnly" class="text-purple-700"></div>
    <div class="mb-4">
        <label asp-for="Nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        <input asp-for="Nombre" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Nombre de la Tarea" />
        <span asp-validation-for="Nombre" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Descripcion" class="block text-gray-700 text-sm font-bold mb-2">Descripcion</label>
        <input asp-for="Descripcion" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Descripcion de la Tarea" />
        <span asp-validation-for="Descripcion" class="text-purple-700 text-xs italic"></span>
    </div>

    @* <div class="mb-4">
        <label asp-for="FechaCreacion" class="block text-gray-700 text-sm font-bold mb-2">FechaCreacion</label>
        <input asp-for="FechaCreacion" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Fecha de Creacion" />
        <span asp-validation-for="FechaCreacion" class="text-purple-700 text-xs italic"></span>
    </div> *@

    <div class="mb-4">
        <label asp-for="FechaVencimiento" class="block text-gray-700 text-sm font-bold mb-2"  >FechaVencimiento</label>
        <input asp-for="FechaVencimiento" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Fecha de Vencimiento" />
        <span asp-validation-for="FechaVencimiento" class="text-purple-700 text-xs italic"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdCategoria" class="control-label"></label>
        <select asp-for="IdCategoria" class="form-control" asp-items="@ViewBag.Categorias">
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdCategoria" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdPrioridad" class="control-label"></label>
        <select asp-for="IdPrioridad" class="form-control" asp-items="@ViewBag.Prioridades">
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdPrioridad" class="text-danger"></span>
    </div>

    <!-- Agregar campo oculto para el ID del estado "Pendiente" -->
    @Html.HiddenFor(model => model.IdEstadoTarea, new { Value = ViewBag.EstadoPendienteId })

    <div class="form-group">
        <label asp-for="IdProyecto" class="control-label"></label>
        <select asp-for="IdProyecto" class="form-control" asp-items="@ViewBag.Proyectos">
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdProyecto" class="text-danger"></span>
    </div>
</form>