@model GestordeTaras.EN.Tarea


<form asp-action="Edit" id="editForm" class="bg-white rounded px-8 pt-6 pb-8 mb-4 border border-purple-700">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-red-500"></div>
    <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        <input asp-for="Nombre" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500 pulsating-cursor" id="nombre" type="text" placeholder="Nombre">
        <span asp-validation-for="Nombre" class="text-red-500 text-xs italic"></span>
    </div>
    <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Descripción</label>
        <input asp-for="Descripcion" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500 pulsating-cursor" id="nombre" type="text" placeholder="Nombre">
        <span asp-validation-for="Descripcion" class="text-red-500 text-xs italic"></span>
    </div>
    <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Fecha de creacion</label>
        <input asp-for="FechaCreacion" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500 pulsating-cursor" id="nombre" type="text" placeholder="Nombre">
        <span asp-validation-for="FechaCreacion" class="text-red-500 text-xs italic"></span>
    </div>
    <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Fecha de vencimiento</label>
        <input asp-for="FechaVencimiento" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500 pulsating-cursor" id="nombre" type="text" placeholder="Nombre">
        <span asp-validation-for="FechaVencimiento" class="text-red-500 text-xs italic"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdCategoria" class="control-label"></label>
        <select asp-for="IdCategoria" class="form-control" asp-items="@ViewBag.Categorias">
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdCategoria" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdPrioridad" class="control-label"></label>
        <select asp-for="IdPrioridad" class="form-control" asp-items="@ViewBag.Prioridades">
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdPrioridad" class="text-danger"></span>
    </div>

     <div class="form-group">
         <label asp-for="IdEstadoTarea" class="control-label"></label>
          <select asp-for="IdEstadoTarea" class="form-control" asp-items="@ViewBag.EstadosTarea">
            <option value="">Seleccionar</option>
         </select>
    <span asp-validation-for="IdEstadoTarea" class="text-danger"></span>
    </div> 

    <div class="form-group">
        <label asp-for="IdProyecto" class="control-label"></label>
        <select asp-for="IdProyecto" class="form-control" asp-items="@ViewBag.Proyectos">
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdProyecto" class="text-danger"></span>
    </div>
</form>
  