@* @using GestordeTaras.EN
@model TareaFinalizada

@{
    ViewData["Title"] = "Crear Tarea Finalizada";
}

<h1>Crear Tarea Finalizada</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CrearTareaFinalizada" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="FechaFinalizacion" class="control-label"></label>
                <input asp-for="FechaFinalizacion" class="form-control" />
                <span asp-validation-for="FechaFinalizacion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Comentarios" class="control-label"></label>
                <input asp-for="Comentarios" class="form-control" />
                <span asp-validation-for="Comentarios" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="IdElegirTarea" class="control-label"></label>
                <select class="form-control" asp-for="IdElegirTarea">
                    @* Aquí agregarías las opciones para Elegir Tarea *@
@*                 </select>
                <span asp-validation-for="IdElegirTarea" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Seleccione la imagen</label>
                <input type="file" name="archivoImagen" />
                <span asp-validation-for="Imagenes" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@ 