@model GestordeTaras.EN.Categoria

<form asp-action="Create" id="createForm" class="bg-white rounded px-8 pt-6 pb-8 mb-4 border border-purple-700">
    <div asp-validation-summary="ModelOnly" class="text-purple-700"></div>
    <div class="mb-4">
        <label asp-for="Nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        <input asp-for="Nombre" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder = "Nombre del cargo"/>
        <span asp-validation-for="Nombre" class="text-purple-700 text-xs italic"></span>
    </div>
</form>
