@model GestordeTaras.EN.Categoria

@{
    ViewData["Title"] = "Detalles de la Categoría";
}

<div>

    <dl class="row">
        <dt class="col-sm-3">ID:</dt>
        <dd class="col-sm-9">@Model.Id</dd>
        <dt class="col-sm-3">Nombre:</dt>
        <dd class="col-sm-9">@Model.Nombre</dd>
    </dl>
    <div class="text-right">
        <a asp-action="Index" class="btn btn-secondary">Cerrar</a>
    </div>
</div>
