<div class="p-4">
  <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">

        <!-- Tarjeta para Proyecto -->
        <div class="relative bg-white border border-slate-300 shadow-md rounded-lg p-6 overflow-hidden group transition-shadow duration-300 text-center hover:shadow-lg">
            <div class="absolute inset-0 bg-gradient-to-r from-purple-500 to-purple-700 transform translate-y-full group-hover:translate-y-0 transition-transform duration-300"></div>
            <div class="relative z-10">
                <a class="flex justify-center mb-4" asp-area="" asp-controller="Proyecto" asp-action="Index">
                    <img src="https://cdn-icons-png.freepik.com/256/2274/2274959.png" alt="Proyecto" class="w-16 h-16 group-hover:opacity-90 transition-opacity duration-300">
                </a>
                <h2 class="text-lg font-extrabold text-purple-700 group-hover:text-white mb-4 transition-colors duration-300">Proyectos</h2>
                <a href="@Url.Action("Index", "Proyecto")" class="mt-2 inline-block bg-purple-600 text-white font-bold py-2 px-4 rounded group-hover:bg-purple-700 transition-colors no-underline duration-300">
                    Ingresar
                </a>
            </div>
        </div>

        <!-- Tarjeta para Usuario -->
        <div class="relative bg-white border border-slate-300 shadow-md rounded-lg p-6 overflow-hidden group transition-shadow duration-300 text-center hover:shadow-lg">
            <div class="absolute inset-0 bg-gradient-to-r from-purple-500 to-purple-700 transform translate-y-full group-hover:translate-y-0 transition-transform duration-300"></div>
            <div class="relative z-10">
                <a class="flex justify-center mb-4" asp-area="" asp-controller="Usuario" asp-action="Index">
                    <img src="https://cdn-icons-png.freepik.com/256/2680/2680913.png" alt="Usuario" class="w-16 h-16 group-hover:opacity-90 transition-opacity duration-300">
                </a>
                <h2 class="text-lg font-extrabold text-purple-700 group-hover:text-white mb-4 transition-colors duration-300">Usuarios</h2>
                <a href="@Url.Action("Index", "Usuario")" class="mt-2 inline-block bg-purple-600 text-white font-bold py-2 px-4 rounded group-hover:bg-purple-700 transition-colors no-underline duration-300">
                    Ingresar
                </a>
            </div>
        </div>
  </div>
</div>


<div class="flex flex-row gap-4">
    <div class="animate-pulse bg-gray-300 w-20 h-20 rounded-lg"></div> 
    <div class="flex flex-col gap-4">
        <div class="animate-pulse bg-gray-300 w-36 h-6 rounded-lg"></div> 
        <div class="animate-pulse bg-gray-300 w-44 h-4 rounded-lg"></div> 
        <div class="animate-pulse bg-gray-300 w-44 h-3 rounded-lg"></div> 
    </div>
</div>
