@model GestordeTaras.EN.Proyecto

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" id="createForm" class="bg-white rounded px-8 pt-6 pb-8 mb-4 border border-purple-700">
    <div asp-validation-summary="ModelOnly" class="text-purple-700"></div>
    <div class="mb-4">
        <label asp-for="Titulo" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        <input asp-for="Titulo" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Nombre del Proyecto" />
        <span asp-validation-for="Titulo" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Descripcion" class="block text-gray-700 text-sm font-bold mb-2">Descripcion</label>
        <input asp-for="Descripcion" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Descripcion del Proyecto" />
        <span asp-validation-for="Descripcion" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="FechaFinalizacion" class="block text-gray-700 text-sm font-bold mb-2">FechaVencimiento</label>
        <input asp-for="FechaFinalizacion" type="date"  class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Fecha de Finalización" />
        <span asp-validation-for="FechaFinalizacion" class="text-purple-700 text-xs italic"></span>
    </div>

</form>