@model GestordeTaras.EN.Proyecto

@{
    ViewData["Title"] = "Eliminar";
}
<div class="flex justify-center items-center">
    <div class="p-4 md:p-5 text-center">
        <div class="flex items-center justify-center">
            <svg class="text-red-600 w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"></path>
            </svg>
        </div>
        <h3 class="mb-3 text-lg font-semibold text-gray-900 dark:text-gray-100">
            ¿Estás seguro de eliminar el proyecto?
            <p class="text-gray-500 text-sm font-semibold">Esta acción no se puede deshacer</p>
        </h3>
        <div class="bg-gray-100 rounded-lg p-3 text-sm">
            <dl class="grid grid-cols-3 gap-2">
                <dt class="col-span-1 font-semibold text-gray-600">Título:</dt>
                <dd class="col-span-2">@Html.DisplayFor(model => model.Titulo)</dd>
                <dt class="col-span-1 font-semibold text-gray-600">Descripción:</dt>
                <dd class="col-span-2">@Html.DisplayFor(model => model.Descripcion)</dd>
                <dt class="col-span-1 font-semibold text-gray-600">Admin:</dt>
                <dd class="col-span-2">@Html.DisplayFor(model => model.Usuario.Nombre)</dd>
                <dt class="col-span-1 font-semibold text-gray-600">Finalización:</dt>
                <dd class="col-span-2">@Html.DisplayFor(model => model.FechaFinalizacion)</dd>
            </dl>
        </div>
        <form asp-action="Delete" id="deleteForm" method="post" class="flex justify-end space-x-2">
            <input type="hidden" id="deleteProjectId" asp-for="Id" />
        </form>
</div>
</div>