@model GestordeTaras.EN.Usuario

@{

    ViewData["Title"] = "Cambiar Contraseña";
}

<h1>Cambiar contraseña</h1>
<hr />
<form asp-action="ChangePassword">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Id" class="form-control" />

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" disabled />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Contraseña actual</label>
                <input type="password" name="oldPassword" class="form-control" required />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Nueva Contraseña</label>
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ConfirmPassword_Aux" class="control-label"></label>
                <input asp-for="ConfirmPassword_Aux" class="form-control" />
                <span asp-validation-for="ConfirmPassword_Aux" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="submit" value="Cambiar contraseña" class="btn btn-primary" />
            </div>
            <span class="text-danger">@ViewBag.Error</span>
        </div>
    </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $("form input[name]").trigger("blur");
        });
    </script>
}