@model GestordeTaras.EN.Usuario
@{
    ViewData["Title"] = "Restablecer Contraseña";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@await Html.PartialAsync("_AlertMessages")


<!-- Sección: Solicitar Restablecimiento -->
<div id="step-1" class="step p-6 max-w-lg mx-auto bg-white shadow-md rounded-lg my-4 transition-all">
    <h3 class="text-2xl font-semibold text-center text-gray-700 mb-4">Por favor ingresa tu correo electrónico para restablecer tu contraseña</h3>
    <form id="form-solicitar" class="space-y-4">
        <div class="flex flex-col">
            <label for="nombreUsuario" class="text-sm text-gray-600">Correo Electrónico:</label>
            <input type="email" id="nombreUsuario" name="nombreUsuario" required class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ingresa tu correo electrónico">
        </div>
        <button type="submit" class="w-full py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-green-500">Enviar Código</button>
    </form>

    <div class="flex justify-center mt-4">
        <a href="@Url.Action("Login", "Usuario")" class="flex items-center justify-center px-4 py-2 border border-gray-400 rounded-lg text-indigo-500 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 text-sm font-medium no-underline transition-all duration-200 ease-out">
            <i class="fas fa-arrow-left mr-2"></i>
            Volver al login
        </a>
    </div>
</div>

<!-- Sección 2: Ingresar Código -->
<div id="step-2" class="step p-6 max-w-lg mx-auto bg-white shadow-md rounded-lg my-4 transition-all" style="display: none;">
    <h3 class="text-2xl font-semibold text-center text-gray-700 mb-4">Ingrese el código de verificación</h3>
    <form id="form-validar" class="space-y-4">
        <div class="flex flex-col">
            <label for="codigo" class="text-sm text-gray-600">Código de Verificación:</label>
            <input type="text" id="codigo" name="codigo" required class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ingresa el código recibido">
        </div>
        <button type="submit" class="w-full py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-green-500">Validar Código</button>
    </form>

    <div class="flex justify-center mt-4">
        <a id="regresar-2" class="flex items-center justify-center px-4 py-2 border border-gray-400 rounded-lg text-indigo-500 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 text-sm font-medium no-underline transition-all duration-200 ease-out">
            <i class="fas fa-arrow-left mr-2"></i>
            Regresar
        </a>
    </div>

    <div id="reenviar-codigo" class="mt-4 text-center">
        <p class="text-sm text-gray-600">Si no has recibido el código, por favor revisa tu correo o <span id="reenviar-boton" class="text-blue-500 cursor-pointer">haz clic aquí para reenviar el código</span>.</p>
    </div>
</div>

<!-- Sección 3: Restablecer Contraseña -->
<div id="step-3" class="step p-6 max-w-lg mx-auto bg-white shadow-md rounded-lg my-4 transition-all" style="display: none;">
    <h3 class="text-2xl font-semibold text-center text-gray-700 mb-4">Restablecer Contraseña</h3>
    <form id="form-restablecer" class="space-y-4">
        <div class="flex flex-col">
            <label for="nuevaContrasena" class="text-sm text-gray-600">Nueva Contraseña:</label>
            <input type="password" id="nuevaContrasena" name="nuevaContrasena" required class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Ingresa tu nueva contraseña">
        </div>
        <div class="flex flex-col">
            <label for="confirmarContrasena" class="text-sm text-gray-600">Confirmar Contraseña:</label>
            <input type="password" id="confirmarContrasena" name="confirmarContrasena" required class="mt-1 p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500" placeholder="Confirma tu nueva contraseña">
        </div>
        <button type="submit" class="w-full py-2 bg-indigo-500 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-red-500">Restablecer Contraseña</button>
    </form>

    <div class="flex justify-center mt-4">
        <a id="regresar-3" class="flex items-center justify-center px-4 py-2 border border-gray-400 rounded-lg text-indigo-500 dark:text-gray-300 hover:bg-gray-300 dark:hover:bg-gray-700 text-sm font-medium no-underline transition-all duration-200 ease-out">
            <i class="fas fa-arrow-left mr-2"></i>
            Regresar
        </a>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    $(document).ready(function () {

        const pasoGuardado = localStorage.getItem('paso'); // Recuperar el estado del progreso

        if (pasoGuardado === '2') {
            $("#step-1").hide();
            $("#step-2").fadeIn();
        } else if (pasoGuardado === '3') {
            $("#step-1").hide();
            $("#step-2").hide();
            $("#step-3").fadeIn();
        }


        // Paso 1: Solicitar código
        $("#form-solicitar").on("submit", function (e) {
            e.preventDefault();
            const nombreUsuario = $("#nombreUsuario").val();
            sessionStorage.setItem("nombreUsuario", nombreUsuario);

            $.ajax({
                url: '/Usuario/SolicitarRestablecimiento',
                type: 'POST',
                data: { nombreUsuario: nombreUsuario },
                success: function (response) {
                    if (response.success) {
                        Swal.fire('Éxito', response.message, 'success');
                        $("#step-1").hide();
                        $("#step-2").fadeIn();

                        localStorage.setItem('paso', '2');
                    } else {
                        Swal.fire('Error', response.message, 'error');
                    }
                },
                error: function () {
                    Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
                }
            });
        });

        // Paso 2: Validar código
        $("#form-validar").on("submit", function (e) {
            e.preventDefault();
            const codigo = $("#codigo").val();

            $.ajax({
                url: '/Usuario/ValidarCodigo',
                type: 'POST',
                data: { codigo: codigo },
                success: function (response) {
                    Swal.fire('Éxito', response.message, 'success');
                    if (response.success) {
                        $("#step-2").hide();
                        $("#step-3").fadeIn();

                        localStorage.setItem('paso', '3');
                    } else {
                        Swal.fire('Error', response.message, 'error');
                    }
                },
                error: function () {
                    Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
                }
            });
        });

        // Paso 3: Restablecer contraseña
        $("#form-restablecer").on("submit", function (e) {
            e.preventDefault();
            const nuevaContrasena = $("#nuevaContrasena").val();
            const confirmarContrasena = $("#confirmarContrasena").val();

            $.ajax({
                url: '/Usuario/RestablecerContrasena',
                type: 'POST',
                data: {
                    nuevaContrasena: nuevaContrasena,
                    confirmarContrasena: confirmarContrasena
                },
                success: function (response) {
                    if (response.success) {
                        Swal.fire('Éxito', response.message, 'success').then((result) => {
                            window.location.href = '/Usuario/Login';
                            localStorage.removeItem('paso');
                        });
                    } else {
                        Swal.fire('Error', response.message, 'error');
                    }
                },
                error: function () {
                    Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
                }
            });
        });



        // Reenviar el código al hacer clic en el enlace
    $("#reenviar-boton").on("click", function () {
            // Recuperamos el correo desde sessionStorage
            const nombreUsuario = sessionStorage.getItem("nombreUsuario"); // Usamos el mismo correo que el usuario ingresó

        // Reutilizamos la lógica del envío del código
        $.ajax({
            url: '/Usuario/SolicitarRestablecimiento',
            type: 'POST',
            data: { nombreUsuario: nombreUsuario },
            success: function (response) {
                if (response.success) {
                        Swal.fire('Éxito', response.message, 'success');
                    } else {
                    Swal.fire('Error', response.message, 'error');
                }
            },
            error: function () {
                Swal.fire('Error', 'Ocurrió un error al procesar la solicitud.', 'error');
            }
        });
    });

        // Botón de regresar paso 2
        $("#regresar-2").on("click", function () {
            $("#step-2").hide();
            $("#step-1").fadeIn();
            localStorage.setItem('paso', '1');
        });

        // Botón de regresar paso 3
        $("#regresar-3").on("click", function () {
            $("#step-3").hide();
            $("#step-2").fadeIn();
            localStorage.setItem('paso', '2');
        });

});
</script>

