@model GestordeTaras.EN.Usuario
@{
    ViewData["Title"] = "Crear Cuenta";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<div class="login_container max-w-screen-xl mx-auto my-6 bg-white shadow sm:rounded-lg flex justify-center flex-1 overflow-hidden">
    <div class="lg:w-1/2 flex-1 xl:w-5/12 p-4 sm:p-6">
        <div class="mt-8 flex flex-col items-center">
            <h1 class="text-lg no-underline inicio xl:text-2xl font-extrabold underline">
                CREAR UNA CUENTA
            </h1>
            <div class="w-full flex-1 mt-2 mb-4">
                <div class="my-6 border-b text-center">
                    <div class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform -translate-y-1/2">
                        Complete los campos para crear una nueva cuenta
                    </div>
                </div>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mx-auto max-w-sm">
                        <div class="grid grid-cols-1 lg:grid-cols-2 gap-4">
                            <!-- Columna 1 -->
                            <div>
                                <label for="Nombre" class="block text-gray-700 text-sm font-medium mb-2">Nombre</label>
                                <input asp-for="Nombre" class="w-full px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" placeholder="Nombre" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>

                                <label for="NombreUsuario" class="block text-gray-700 text-sm font-medium mt-4">Correo electrónico</label>
                                <input asp-for="NombreUsuario" class="w-full px-4 py-2 mt-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" placeholder="Nombre de usuario" />
                                <span asp-validation-for="NombreUsuario" class="text-danger"></span>

                                <label for="Pass" class="block text-gray-700 text-sm font-medium mt-4">Contraseña</label>
                                <input asp-for="Pass" type="password" class="w-full px-4 py-2 mt-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" placeholder="Contraseña" />
                                <span asp-validation-for="Pass" class="text-danger"></span>

                                @if (User.IsInRole("Administrador"))
                                {
                                    <label for="IdCargo" class="block text-gray-700 text-sm font-medium mt-4">Cargo</label>
                                    <select asp-for="IdCargo" class="w-full px-4 py-2 mt-2 rounded-lg font-medium bg-gray-100 border border-gray-200 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
                                        <option value="">Seleccionar Cargo</option>
                                        @foreach (var item in ViewBag.Cargos)
                                        {
                                            <option value="@item.Value">@item.Text</option>
                                        }
                                    </select>
                                    <span asp-validation-for="IdCargo" class="text-danger"></span>
                                }
                                else
                                {
                                    @Html.HiddenFor(model => model.IdCargo, new { Value = ViewBag.CargoColaboradorId })
                                }
                            </div>

                            <!-- Columna 2 -->
                            <div>
                                <label for="Apellido" class="block text-gray-700 text-sm font-medium mb-2">Apellido</label>
                                <input asp-for="Apellido" class="w-full px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" placeholder="Apellido" />
                                <span asp-validation-for="Apellido" class="text-danger"></span>

                                <label for="Telefono" class="block text-gray-700 text-sm font-medium mt-4">Teléfono</label>
                                <input asp-for="Telefono" maxlength="12" class="w-full px-4 py-2 mt-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" placeholder="Teléfono" />
                                <span asp-validation-for="Telefono" class="text-danger"></span>

                                <label for="FechaNacimiento" class="block text-gray-700 text-sm font-medium mt-4">Fecha de nacimiento</label>
                                <input asp-for="FechaNacimiento" type="date" class="w-full px-4 py-2 mt-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" placeholder="Fecha de Nacimiento" />
                                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
                            </div>
                        </div>

                        <button type="submit" class="mt-6 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-2 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                            <span class="ml-3">
                                <i class="fas fa-user-plus"></i>
                                Crear Cuenta
                            </span>
                        </button>
                        <div class="flex justify-center mt-4">
                            <a asp-action="Index" class="inline-flex items-center px-4 py-2 text-sm font-medium text-indigo-500 bg-white border border-gray-300 rounded-lg shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                                <i class="fas fa-arrow-left mr-2"></i>
                                Regresar
                            </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
        <div class="m-6 xl:m-8 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('/img/create login-amico.svg');">
            @* background-size: 200px 200px; *@
        </div>
    </div>
</div>