@model GestordeTaras.EN.Usuario

<form asp-action="Create" id="createForm" class="bg-white rounded px-8 pt-6 pb-8 mb-4 border border-purple-700">
    <div asp-validation-summary="ModelOnly" class="text-purple-700"></div>

    <div class="mb-4">
        <label asp-for="Nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        <input asp-for="Nombre" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Nombre del usuario" />
        <span asp-validation-for="Nombre" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Apellido" class="block text-gray-700 text-sm font-bold mb-2">Apellido</label>
        <input asp-for="Apellido" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Apellido del usuario" />
        <span asp-validation-for="Apellido" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Pass" class="block text-gray-700 text-sm font-bold mb-2">Contraseña</label>
        <input asp-for="Pass" type="password" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Contraseña" />
        <span asp-validation-for="Pass" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Telefono" class="block text-gray-700 text-sm font-bold mb-2">Teléfono</label>
        <input asp-for="Telefono" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Teléfono" />
        <span asp-validation-for="Telefono" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="FechaNacimiento" class="block text-gray-700 text-sm font-bold mb-2">Fecha de Nacimiento</label>
        <input asp-for="FechaNacimiento" type="date" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" />
        <span asp-validation-for="FechaNacimiento" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="IdCargo" class="block text-gray-700 text-sm font-bold mb-2">Cargo</label>
        <select asp-for="IdCargo" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" asp-items="@ViewBag.Cargos">
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdCargo" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="NombreUsuario" class="block text-gray-700 text-sm font-bold mb-2">Nombre de Usuario</label>
        <input asp-for="NombreUsuario" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" placeholder="Nombre de usuario" />
        <span asp-validation-for="NombreUsuario" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label asp-for="Status" class="block text-gray-700 text-sm font-bold mb-2">Estado</label>
        <select asp-for="Status" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500">
            <option value="1">ACTIVO</option>
            <option value="2">INACTIVO</option>
        </select>
        <span asp-validation-for="Status" class="text-purple-700 text-xs italic"></span>
    </div>

   
</form>
