@model GestordeTaras.EN.Usuario

@{
    ViewData["Title"] = "Edit";
}

<form asp-action="Edit" id="editForm" class="bg-white rounded px-8 pt-6 pb-8 mb-4 border border-purple-700 grid grid-cols-1 sm:grid-cols-2 gap-4">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-red-500 mb-4"></div>

    <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre</label>
        <input asp-for="Nombre" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" id="nombre" type="text" placeholder="Nombre" />
        <span asp-validation-for="Nombre" class="text-red-500 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label for="apellido" class="block text-gray-700 text-sm font-bold mb-2">Apellido</label>
        <input asp-for="Apellido" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" id="apellido" type="text" placeholder="Apellido" />
        <span asp-validation-for="Apellido" class="text-red-500 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label for="nombreUsuario" class="block text-gray-700 text-sm font-bold mb-2">correo electrónico</label>
        <input asp-for="NombreUsuario" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" id="nombreUsuario" type="text" placeholder="Nombre de Usuario" />
        <span asp-validation-for="NombreUsuario" class="text-red-500 text-xs italic"></span>
    </div>


    <div class="mb-4">
        <label for="telefono" class="block text-gray-700 text-sm font-bold mb-2">Teléfono</label>
        <input asp-for="Telefono" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" id="telefono" type="text" placeholder="Teléfono" />
        <span asp-validation-for="Telefono" class="text-red-500 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label for="idCargo" class="block text-gray-700 text-sm font-bold mb-2">Cargo</label>
        <select asp-for="IdCargo" class="w-full px-3 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 text-sm focus:outline-none focus:border-gray-400 focus:bg-white" asp-items="@ViewBag.Cargos" required>
            <option value="">Seleccionar</option>
        </select>
        <span asp-validation-for="IdCargo" class="text-red-500 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label for="fechaNacimiento" class="block text-gray-700 text-sm font-bold mb-2">Fecha de Nacimiento</label>
        <input asp-for="FechaNacimiento" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" id="fechaNacimiento" type="date" value="@Model.FechaNacimiento.ToString("yyyy-MM-dd")" />
        <span asp-validation-for="FechaNacimiento" class="text-red-500 text-xs italic"></span>
    </div>
      
    <div class="mb-4">
        <label asp-for="Status" class="block text-gray-700 text-sm font-bold mb-2">Estado</label>
        <select asp-for="Status" class="w-full px-3 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 text-sm focus:outline-none focus:border-gray-400 focus:bg-white">
            <option value="1">Activo</option>
            <option value="2">Inactivo</option>
        </select>
        <span asp-validation-for="Status" class="text-purple-700 text-xs italic"></span>
    </div>

    <div class="mb-4">
        <label for="fechaRegistro" class="block text-gray-700 text-sm font-bold mb-2">Fecha de Registro</label>
        <input asp-for="FechaRegistro" class="border-b-2 border-purple-700 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:border-purple-500" id="fechaRegistro" type="text" placeholder="Fecha de Registro" />
        <span asp-validation-for="FechaRegistro" class="text-red-500 text-xs italic"></span>
    </div>
</form>
