@model GestordeTaras.EN.Usuario
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

@await Html.PartialAsync("_Alerts")

<div class="login_container max-w-screen-xl m-0 sm:m-10 bg-white shadow sm:rounded-lg flex justify-center flex-1 overflow-hidden">
    <div class="lg:w-1/2 flex-1 xl:w-5/12 p-6 sm:p-12">
        <div class="mt-8 flex flex-col items-center">
            <h1 class="text-lg no-underline inicio xl:text-2xl font-extrabold underline">
                INICIAR SESIÓN
            </h1>
            <div class="w-full flex-1 mt-4">
                <div class="my-6 border-b text-center">
                    <div class="leading-none px-2 inline-block text-sm text-gray-600 tracking-wide font-medium bg-white transform -translate-y-1/2">
                        Ingrese su correo electrónico y contraseña
                    </div>
                </div>
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="mx-auto max-w-xs">
                        <input asp-for="NombreUsuario" type="email" class="w-full px-4 py-2 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white search-bar" placeholder="Correo electrónico" />
                        <span asp-validation-for="NombreUsuario" class="text-danger"></span>
                        <input asp-for="Pass" type="password" class="w-full px-4 py-2 mt-4 rounded-lg font-medium bg-gray-100 border border-gray-200 placeholder-gray-500 text-sm focus:outline-none focus:border-gray-400 focus:bg-white search-bar" placeholder="Contraseña" />
                        <span asp-validation-for="Pass" class="text-danger"></span>
                        <button type="submit" class="mt-6 tracking-wide font-semibold bg-indigo-500 text-gray-100 w-full py-2 rounded-lg hover:bg-indigo-700 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none">
                            <i class="fas fa-key mr-2"></i>
                            <span class="ml-3">
                                Iniciar Sesión
                            </span>
                        </button>
                        <div class="flex justify-center mt-4">
                            <a asp-action="Create" class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-green-600 border border-green-700 rounded-lg shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 transition duration-300 ease-in-out no-underline">
                                <i class="fas fa-user-plus mr-2"></i>
                                Crear cuenta
                            </a>
                        </div>
                        <p class="text-center text-gray-600 dark:text-gray-300 mt-4">
                            ¿Olvidaste tu contraseña?
                            <a href="@Url.Action("ChangePassword", "Usuario")" class="text-indigo-500 hover:text-indigo-700 dark:text-indigo-400 dark:hover:text-indigo-500 font-medium transition-all duration-200 ease-out">
                                Restablecer contraseña
                            </a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="flex-1 bg-indigo-100 text-center hidden lg:flex">
        <div class="m-6 xl:m-8 w-full bg-contain bg-center bg-no-repeat" style="background-image: url('/img/login-amico.svg');">
        </div>
    </div>
</div>
