@model GestordeTaras.EN.Usuario

@{
    ViewData["Title"] = "Usuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Usuario</h4>
<div class="card">
    <div class="card-body">
<!-- Muestra la acción actual (Nuevo Usuario o Editar Usuario) obtenida del ViewBag -->
@ViewBag.Accion

<!-- Formulario para guardar cambios, apuntando a la acción "GuardarCambios" del controlador "Home" -->
<form asp-action="GuardarCambios" asp-controller="Home" method="post">

            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pass" class="control-label"></label>
                <input asp-for="Pass" class="form-control" />
                <span asp-validation-for="Pass" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdCargo" class="control-label"></label>
                <input asp-for="IdCargo" class="form-control" />
                <span asp-validation-for="IdCargo" class="text-danger"></span>
            </div>



            <!-- Botón para enviar el formulario -->
            <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
            <!-- Enlace para volver a la lista de usuarios -->
            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-sm">Volver a la lista</a>

        </form>
    </div>
    <hr />
</div>
