@model GestordeTaras.EN.Prioridad


@{
    ViewData["Title"] = "Eliminar";
}
<h5>¿Desea eliminar esta categoria?</h5>


<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    <form asp-action="Delete" id="deleteForm" method="post">
        <input type="hidden" asp-for="Id" />
    </form>
</div>
