@model GestordeTaras.EN.Prioridad

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Prioriadad</h1>

<h3>¿Seguro que quiere eliminar la prioridad?</h3>
<div>
    <h4>Prioridad</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed" method="post">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>

</div>
