
:root {
    --bg-color: #fef9ff; /* Color de fondo predeterminado (light) */
    --text-color: #000; /* Color de texto predeterminado (dark) */
    --Morado: #6D28D9;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}


/* MODO OSCURO */
/* Cambia el fondo del botón al modo oscuro */
input[type="checkbox"]:checked + .slider {
    background-color:#1d004f;
    border: 1px solid #7C3AED;
}

/* Mueve el círculo al modo oscuro */
input[type="checkbox"]:checked + .slider .circle {
    transform: translateX(120%);
    background-color:transparent;
    color: #ebe0ff;
}

/* Cambia el fondo del botón al modo claro */
input[type="checkbox"]:not(:checked) + .slider {
    background-color: #fbefff;
    border: 1px solid #7C3AED;
}

/* Mueve el círculo al modo claro */
input[type="checkbox"]:not(:checked) + .slider .circle {
    transform: translateX(-10%);
    background: #fffabd;
    color: rgb(255, 214, 65);
}
.circle {
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    background-color: transparent; /* Elimina el color de fondo */
}
/* Estilos para el menú */
#drawer-navigation {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 40;
    width: 16rem;
    height: 100vh;
    padding: 1rem;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    /* Ajuste de colores */
    background-color: #fef9ff; /* Color de fondo claro por defecto */
    color: #280133; /* Color de texto claro por defecto */
}

/* Estilos para modo oscuro */
#drawer-navigation.dark {
    background-color: #060214; /* Color de fondo oscuro */
    color: #f9f0ff; /* Color de texto oscuro */
}

/* Estilos para modo claro */
#drawer-navigation.light {
    background-color: #fef9ff; /* Color de fondo claro */
    color: #280133; /* Color de texto claro */
}

.dark-menu {
    background-color: #060214;
    color: #fff;
}

.light-menu {
    background-color: #fef9ff;
    color: #000;
}
