@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root{
  --Morado: #6D28D9;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

body.dark {
    background-color: #1F232A;
    color: #f9f0ff;
}

body.light {
    background-color: #fef9ff;
    color: #280133;
}

#drawer-navigation.dark{
    background-color: #1F232A;
    color: #f9f0ff;
}
#drawer-navigation.light{
      background-color: #fef9ff;
    color: #280133;
}


/* //estilo de la barra de desplasamiento */
 ::selection {
   background-color: var(--Morado);
   /* Cambia el color de fondo de la selección */
   color: #fff;
   /* Cambia el color del texto seleccionado */
 }

 /* Barra de desplazamiento horizontal */
 ::-webkit-scrollbar {
   height: 6px;
   /* Cambiado a height para afectar la barra de desplazamiento horizontal */
   width: 6px;
   /* Ancho de la barra de desplazamiento vertical */
 }

 /* Estilo para el riel de la barra de desplazamiento */
 ::-webkit-scrollbar-track {
   background: #62645A;
   /* Color de fondo del riel */
 }

 /* Estilo para el pulgar de la barra de desplazamiento (la parte que se arrastra) */
 ::-webkit-scrollbar-thumb {
   background: var(--Morado);/* Color del pulgar de la barra de desplazamiento */
 }

 /* Estilo para el pulgar de la barra de desplazamiento al pasar el mouse sobre él */
 ::-webkit-scrollbar-thumb:hover {
   background: #2C2F39;
   cursor: pointer;
 }
