:root {
    --formularioDark: #151920;
    --formularioLight: #fdfdfd;

    --backgroundDark: #1F232A;
    --backgroundLight: #ffffff;

    --borderLight: #eeeeee;
    --borderDark: #16191f;

    --textoDark: #e4e2e2;
    --textoLight: #333333;

    --subtitleLight: #666666;
    --subtitleDark: #b5b5b5;

    --transition: all 0.3s ease-in-out;

    --primary: #6d28d9;
    --primary-hover: #5a21b6;
}

/* Estilo en modo oscuro para las tarjetas */
.dark .draggable-card {
    background-color: var(--formularioDark);
    color: var(--textoDark);
    transition: var(--transition);
}

/* Asegura que las sombras y escalas también cambien en modo oscuro */
.dark .draggable-card:hover {
    background-color: var(--backgroundDark);
    color: var(--textoDark);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
