:root {
    --formularioDark: #151920;
    --formularioLight: #fdfdfd;

    --backgroundDark: #1F232A;
    --backgroundLight: #ffffff;

    --borderLight: #eeeeee;
    --borderDark: #16191f;

    --textoDark: #e4e2e2;
    --textoLight: #333333;

    --subtitleLight: #666666;
    --subtitleDark: #b5b5b5;

    --transition: all 0.3s ease-in-out;

    --primary: #6d28d9;
    --primary-hover: #5a21b6;
}


/* Estilo para tarjetas en modo oscuro */
.dark .bgtarjeta {
    background-color: var(--formularioDark);
    color: var(--textoDark);
}

.bgtarjeta{
    border: 1px solid var(--borderDark);
}