@model List<GestordeTaras.EN.Proyecto>

<h2 class="text-center text-3xl font-bold text-black-700 mb-4">Mis Proyectos</h2>

@if (Model != null && Model.Any())
{
    <div class="list-group">
        @foreach (var proyecto in Model)
        {
            <div class="list-group-item mb-3">
                <h5 class="mb-2">@proyecto.Titulo</h5>
                <p class="mb-1">Descripción: @proyecto.Descripcion</p>
                <small class="text-muted">Fecha de finalización: @proyecto.FechaFinalizacion.ToString("dd/MM/yyyy")</small>
                <div class="mt-3">
                    <a class="btn btn-primary" asp-action="Index" asp-controller="Tarea" asp-route-proyectoId="@proyecto.Id">Ir al Proyecto</a>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="flex flex-col items-center justify-center mt-10">
        <img src="~/img/notes.svg" alt="No hay proyectos disponibles" class="w-24 h-24 mb-4" />
        <h1 class="text-2xl font-bold text-gray-700">No hay proyectos disponibles</h1>
        <p class="mt-2 text-gray-500">Únete a un proyecto para comenzar.</p>
        <a class="mt-4 bg-blue-500 text-white font-bold py-2 px-6 rounded hover:bg-blue-600 transition-colors duration-300 no-underline" asp-action="Index" asp-controller="Proyecto">
            Únete a un Proyecto
        </a>
    </div>
}
